## Visual Studio and Windows OS files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
*.log
*.tmp
*.TMP
*.bak
Thumbs.db
.editorconfig
*.csproj
*.sln
## .NET Core specific
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/
appsettings.Development.json
*.pfx
*.usersecrets.json

## VS Code
.vscode/


## JetBrains Rider
.idea/

## MacOS
.DS_Store
